@media screen and (min-width: 1440px){
    *{
        font-size: 100%;
    }
    .header{
        &__title{
            margin-bottom: 10rem;
            @include fontS(6);
        }
    }
    .grid{
        &__title{
            &--textImg{
                margin: 40rem 0 0 0;
            }
        }
    }  
}