@media screen and (min-width: 1000px){
    .header{
        background: url("../images/desktop/image-header.jpg") no-repeat bottom/cover;
        &__title{
            margin-bottom: 20rem;
            font-size: 4rem;
        }
    }
    .nav{
        height: 5rem;
        max-width: 1440px;
        margin: 1rem 0;
        &__icon{
            display: none;
        }
        &__logo{
            margin-left: 4rem;
        }
        &__box{
            position: relative;
            padding: 0;
            width: 40rem;
            height: 5rem;
            opacity: 1;
            clip-path: none;
            background: transparent;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .nav__item{
            color: $nColor-white;
        }
        li:hover{
            background: $nColor-white;
            margin: 0;
            padding: 1rem 2rem;
            border-radius: 5rem;
        }
    }
#toggle{
    display: none;
}
    @keyframes slide-bottom {
        0% {
          -webkit-transform: translateY(-300%);
                  transform: translateY(-300%);
                  opacity: 0;
        }
        50% {
            -webkit-transform: translateY(0%);
                    transform: translateY(0%);
                    opacity: 1;
          }
        100% {
          -webkit-transform: translateY(300%);
                  transform: translateY(300%);
                  opacity: 0;
        }
    }
    .grid{
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "b a"
        "c d"
        "e f";

        &__article:nth-child(1){
            grid-area: a;
        }
        &__article:nth-child(2){
            grid-area: b;
            
        }
        &__article:nth-child(3){
            grid-area: c;
            
        }
        &__article:nth-child(4){
            grid-area: d;
            
        }
        &__article:nth-child(5){
            grid-area: e;
            height: 600px;
            background: url(./../images/desktop/image-graphic-design.jpg) no-repeat center/cover;
        }
        &__article:nth-child(6){
            grid-area: f;
            height: 600px;
            background: url(./../images/desktop/image-photography.jpg) no-repeat center/cover;
        }
        &__img, picture{
            height: 100%;
        }
        &__p--text{
            text-align: left;
            margin: 10% auto;
        }
        &__p--textImg{
            margin: 3rem 8rem;
        }
        &__article--text{
            justify-content: center;
            align-items: flex-start;
            margin: 10rem;
            text-align: left;
        }
        &__button{
            margin: 0;
        }
        &__title--text{
            text-align: left;
        }
    }
    .client{
        width: 80%;
        margin:0 auto;
        grid-template-rows: 15rem auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "ctit ctit ctit"
        "b2 b3 b1";
        &__article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                grid-area: b1;
            }
            &:nth-child(2){
                grid-area: b2;
            }
            &:nth-child(3){
                grid-area: b3;
            }
        }
        &__title{
            grid-area: ctit;
            margin: 10rem auto;
        }
        &__img{
            height: 5rem;
            margin: 3rem;
        }
        &__name{
            margin: 3rem auto 0 auto;
        }
        &__function{
            margin: 1rem auto 10rem auto;
        }
    }
    .gallery{
        width: 1440px;
        height: 30rem;
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(4, 25%);
        &__img, picture{
            height: 30rem;
        }
    }
    .footer{
        height:25rem;
        background-color: #90D4C5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        &__box{
            width: 20rem;
            justify-content: space-between;
            padding: 0;
            margin: 0 auto;
        }
        &__item{
            text-decoration: none;
            color: $pColor-blue-dark;
        }
        &__links{
            width: 15rem;
            justify-content: space-between;
            padding: 0;
            margin:5rem;
        }
        &__logo{
            margin: 3rem auto;
            width: 10%;
        }
    }
}