.footer{
    height: calc(100vh - 100vw);
    background-color: #90D4C5;
    display: grid;
    &__box{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    &__item{
        text-decoration: none;
        color: $pColor-blue-dark;
    }
    &__links{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 15% 5%;
    }
    &__logo{
        margin: 15% auto 5% auto;
        width: 50%;
    }
}