.footer{
    height: calc(100vh - 100vw);
    background-color: #90D4C5;
    @include flexC;
    &__box{
        list-style: none;
        @include flexH;
        padding: 0;
        width: calc(100% - 2 * 3rem);
    }
    &__item{
        text-decoration: none;
        color: $pColor-blue-dark;
        @include fontS;
        text-shadow: $shaw4;
    }
    &__links{
        list-style: none;
        @include flexHA;
        padding: 0;
        margin: 5rem 3rem;
        @include fontS;
        width: calc(100% - 2 * 3rem);
        filter: drop-shadow($shaw4);
    }
    &__logo{
        margin: 5rem auto 3rem auto;
        width: 15rem;
        filter: drop-shadow($shaw4);
    }
}