.header{
    height: 100vh;
    background: url("../images/mobile/image-header.jpg") no-repeat bottom/cover;
    @include flexC;
    overflow: hidden;
    &__title{
        font-family: 'Fraunces', serif;
        font-weight: 900;
        @include fontS(4);
        color: $nColor-white;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        text-align: center;
        text-shadow: $shaw;
        animation: slide-title 2s;
    }
    &__arrow{
        filter: drop-shadow($shaw);
        -webkit-animation: slide-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
        animation: slide-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    }
}

.nav{
    width: calc(100% - 2 * 3rem);
    margin: 4rem auto;
    position: absolute;
    top: 0;
    @include flexH;
    filter: drop-shadow($shaw);
    &__box{
        position: absolute;
        -webkit-clip-path:polygon(0 100%, 81% 100%, 100% 100%, 100% 17%, 100% 0, 90% 10%, 0 10%);
        clip-path:polygon(0 100%, 81% 100%, 100% 100%, 100% 17%, 100% 0, 90% 10%, 0 10%);
        opacity: 0;
        right: 0;
        width: 100%;
        height: 30rem;
        padding: 4rem 0 0 0;
        list-style: none;
        background-color: $nColor-white;
        transition-duration: 1s;
        @include flexCS;
        box-shadow: $shaw;
    }
    &__branch:hover{
        background: $pColor-yellow;
        margin: 0 auto;
        padding: 1rem 2rem;
        border-radius: 5rem;
    }
    &__item{
        color: $nColor-blue-dark-grayish;
        font-family: 'Barlow', sans-serif;
        text-decoration: none;
        letter-spacing: 0.05rem;
        @include fontS;
        text-shadow: $shaw3;
        &:hover{
            font-family: 'Fraunces', serif;
            color: $nColor-blue-dark-desature-very;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            text-shadow: $shaw4;
        }
    }  
}

#toggle{
    opacity: 0;
    &:checked ~ .nav__box {
        opacity: 1;
    } 
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                opacity: 0;
      }
      50% {
          -webkit-transform: translateY(100%);
                  transform: translateY(100%);
                  opacity: 1;
        }
      100% {
        -webkit-transform: translateY(300%);
                transform: translateY(300%);
                opacity: 0;
    }
}
@keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              opacity: 0;
    }
    50% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
                opacity: 1;
      }
    100% {
      -webkit-transform: translateY(300%);
              transform: translateY(300%);
              opacity: 0;
    }
}

@-webkit-keyframes slide-title {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
                opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
    }
}
@keyframes slide-title {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
}