@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}
.container{
    max-width: 100%;
    display: grid;    
    font-family: 'Barlow', sans-serif;
    color: $nColor-blue-dark-grayish-very;
}