.grid{
    display: grid;
    &__img{
        width: 100%;
    }
    &__title{
        font-family: 'Fraunces', serif;
        @include fontS(3.6);
        font-weight: 800;
        text-align: center;
        color:$nColor-blue-dark-desature-very;
        text-shadow: $shaw3;
        &--textImg{
            margin: 60vh 0 0 0;
        }
    }
    &__p{
        @include fontS;
        text-align: center;
        margin: 2rem 0;
        letter-spacing: 0.08rem;
        text-shadow: $shaw3;
    }
    &__article{
        @include flexC;
        &--text{
            margin: 3rem;
        }
        &--textImg{
            height: 100vh;
            padding: 0 3rem;
        }
        &:nth-child(2){
                @include buttonMove($pColor-red-soft);
        }
        &:nth-child(4){
                @include buttonMove($pColor-yellow);
        }
        &:nth-child(5){
            background: url(./../images/mobile/image-graphic-design.jpg) no-repeat center/cover;
        }
        &:nth-child(6){
            background: url(./../images/mobile/image-photography.jpg) no-repeat center/cover;
        }
    }
}


.client{
    margin: 6rem auto;
    display:grid;
    grid-template-rows: 4rem 1fr 1fr 1fr;
    &__article{
        @include flexC;
        margin: 3rem;
    }
    &__title{
        margin: auto;
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: 600;
        color: $nColor-blue-grayish;
        @include fontS;
        letter-spacing: 0.3rem;
    }
    &__img{
        border-radius: 50rem;
        height: 7rem;
    }
    &__p{
        margin: 3rem auto;
        letter-spacing: 0.08rem;
        @include fontS;
        font-weight: 800;
        text-align: center;
    }
    &__name{
        font-family: 'Fraunces', serif;
        font-weight: 600;
        color: $nColor-blue-dark-desature-very;
        margin: 0;
        @include fontS;
    }
    &__function{
        color:$nColor-blue-grayish;
        margin: 0.5rem auto;
        @include fontS;
    }
}

.gallery{
    height: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    &__img, picture{
        height: 50vw;
    }
}
