$pColor-red-soft: hsla(7, 99%, 70%, 0.5);
$pColor-yellow:hsl(51, 100%, 49%, 0.5);
$pColor-cyan-dark-desature:hsl(167, 40%, 24%);
$pColor-blue-dark:hsl(198, 62%, 26%);
$pColor-cyan-dark-modern:hsl(168, 34%, 41%);

$nColor-blue-dark-desature-very:hsl(212, 27%, 19%);
$nColor-blue-dark-grayish-very:hsl(213, 9%, 39%);
$nColor-blue-dark-grayish:hsl(232, 10%, 55%);
$nColor-blue-grayish:hsl(210, 4%, 67%);
$nColor-white: hsl(0, 0%, 100%);

$shaw: 0.05rem 0.05rem 0.1rem $nColor-blue-dark-desature-very;
$shaw1: 0.05rem 0.05rem 0.1rem $nColor-blue-dark-grayish-very;
$shaw2: 0.05rem 0.05rem 0.1rem $nColor-blue-dark-grayish;
$shaw3: 0.05rem 0.05rem 0.1rem $nColor-blue-grayish;
$shaw4: 0.05rem 0.05rem 0.1rem $nColor-white;

$thick : 1rem;
$pad : 0.7rem;
$extra : calc(#{$pad} * 1.2);