@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

.container {
  max-width: 100%;
  display: grid;
  font-family: "Barlow", sans-serif;
  color: #5a636c;
}

.header {
  height: 100vh;
  background: url("../images/mobile/image-header.jpg") no-repeat bottom/cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}
.header__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0.05rem 0.05rem 0.1rem #23303e;
  transition-duration: 1s;
}
.header__arrow {
  filter: drop-shadow(0.05rem 0.05rem 0.1rem #23303e);
  -webkit-animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.nav {
  width: calc(100% - 6rem);
  margin: 4rem auto;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  filter: drop-shadow(0.05rem 0.05rem 0.1rem #23303e);
}
.nav__box {
  position: absolute;
  -webkit-clip-path: polygon(0 100%, 81% 100%, 100% 100%, 100% 17%, 100% 0, 90% 10%, 0 10%);
  clip-path: polygon(0 100%, 81% 100%, 100% 100%, 100% 17%, 100% 0, 90% 10%, 0 10%);
  opacity: 0;
  right: 0;
  width: 100%;
  height: 30rem;
  padding: 4rem 0 0 0;
  list-style: none;
  background-color: white;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0.05rem 0.05rem 0.1rem #23303e;
}
.nav__branch:hover {
  background: #fad400;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
}
.nav__item {
  color: #818498;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
  text-shadow: 0.05rem 0.05rem 0.1rem #a7abae;
}
.nav__item:hover {
  font-family: "Fraunces", serif;
  color: #23303e;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-shadow: 0.05rem 0.05rem 0.1rem white;
}

#toggle {
  opacity: 0;
}
#toggle:checked ~ .nav__box {
  opacity: 1;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
    opacity: 0;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
    opacity: 0;
  }
}
.grid {
  display: grid;
}
.grid__img {
  width: 100%;
}
.grid__title {
  font-family: "Fraunces", serif;
  font-size: 3.6rem;
  font-weight: 800;
  text-align: center;
  color: #23303e;
  text-shadow: 0.05rem 0.05rem 0.1rem #a7abae;
}
.grid__title--textImg {
  margin: 60vh 0 0 0;
}
.grid__p {
  font-size: 1.8rem;
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 0.08rem;
  text-shadow: 0.05rem 0.05rem 0.1rem #a7abae;
}
.grid__button {
  position: relative;
  font-size: 1.8rem;
  border: 0;
  background: none;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin: 2rem auto;
  color: #23303e;
  text-shadow: 0.05rem 0.05rem 0.1rem #a7abae;
}
.grid__button:before {
  content: " ";
  position: absolute;
  z-index: -1;
  height: 0.8rem;
  width: 14rem;
  border-radius: 50rem;
  left: -0.6rem;
  bottom: 0;
  opacity: 0.5;
}
.grid__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.grid__article--text {
  margin: 3rem;
}
.grid__article--textImg {
  height: 100vh;
  padding: 0 3rem;
}
.grid__article:nth-child(2) button:before {
  background-color: #fad400;
}
.grid__article:nth-child(4) button:before {
  background-color: #fe7867;
}
.grid__article:nth-child(5) {
  background: url(./../images/mobile/image-graphic-design.jpg) no-repeat center/cover;
}
.grid__article:nth-child(6) {
  background: url(./../images/mobile/image-photography.jpg) no-repeat center/cover;
}

.client {
  margin: 6rem auto;
  display: grid;
  grid-template-rows: 4rem 1fr 1fr 1fr;
}
.client__article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 3rem;
}
.client__title {
  margin: auto;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: #a7abae;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}
.client__img {
  border-radius: 50rem;
  height: 7rem;
}
.client__p {
  margin: 3rem auto;
  letter-spacing: 0.08rem;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}
.client__name {
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: #23303e;
  margin: 0;
  font-size: 1.8rem;
}
.client__function {
  color: #a7abae;
  margin: 0.5rem auto;
  font-size: 1.8rem;
}

.gallery {
  height: 100vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
.gallery__img, .gallery picture {
  height: 50vw;
}

.footer {
  height: calc(100vh - 100vw);
  background-color: #90D4C5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer__box {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  width: calc(100% - 6rem);
}
.footer__item {
  text-decoration: none;
  color: #19536b;
  font-size: 1.8rem;
  text-shadow: 0.05rem 0.05rem 0.1rem white;
}
.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 5rem 3rem;
  font-size: 1.8rem;
  width: calc(100% - 6rem);
  filter: drop-shadow(0.05rem 0.05rem 0.1rem white);
}
.footer__logo {
  margin: 5rem auto 3rem auto;
  width: 15rem;
  filter: drop-shadow(0.05rem 0.05rem 0.1rem white);
}

@media screen and (min-width: 540px) {
  .nav__box {
    width: calc(100% - 12rem);
  }

  .grid__article--text {
    min-height: 48rem;
    font-size: 2.1rem;
  }
  .grid__p--text {
    margin: 3rem;
  }

  .client__p {
    margin: 3rem;
  }

  .footer__box {
    width: calc(100% - 12rem);
  }
  .footer__links {
    width: calc(100% - 12rem);
  }
}
@media screen and (min-width: 720px) {
  .header__title {
    font-size: 5rem;
  }

  .nav__box {
    width: calc(100% - 24rem);
  }

  .grid__article--text {
    font-size: 2.5rem;
  }
  .grid__p--text {
    margin: 6rem;
  }
  .grid__p--textImg {
    margin: 6rem;
  }

  .footer__box {
    width: calc(100% - 24rem);
  }
  .footer__links {
    width: calc(100% - 24rem);
  }
}
@media screen and (min-width: 960px) {
  * {
    font-size: 80%;
  }

  .header {
    background: url("../images/desktop/image-header.jpg") no-repeat bottom/cover;
  }
  .header__title {
    margin-bottom: 20rem;
    font-size: 5rem;
  }

  .nav {
    height: 5rem;
    margin: 2rem 0;
    filter: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__box {
    position: relative;
    padding: 0;
    width: 40rem;
    height: 5rem;
    opacity: 1;
    clip-path: none;
    background: transparent;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
  }
  .nav__item {
    color: white;
  }
  .nav__item:hover {
    color: white;
    text-shadow: 0.05rem 0.05rem 0.1rem #23303e;
    font-size: 1.5rem;
  }
  .nav__branch:hover {
    background: #6ECFFB;
    margin: 0;
    padding: 1rem 2rem;
  }

  #toggle {
    display: none;
  }

  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
      opacity: 0;
    }
    50% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(300%);
      transform: translateY(300%);
      opacity: 0;
    }
  }
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vw 50vw auto;
    grid-template-areas: "b a" "c d" "e f";
  }
  .grid__article:nth-child(1) {
    grid-area: a;
  }
  .grid__article:nth-child(2) {
    grid-area: b;
    align-items: flex-start;
  }
  .grid__article:nth-child(3) {
    grid-area: c;
  }
  .grid__article:nth-child(4) {
    grid-area: d;
    align-items: flex-start;
  }
  .grid__article:nth-child(5) {
    grid-area: e;
    justify-content: flex-start;
    background: url(./../images/desktop/image-graphic-design.jpg) no-repeat center/cover;
  }
  .grid__article:nth-child(6) {
    grid-area: f;
    justify-content: flex-start;
    background: url(./../images/desktop/image-photography.jpg) no-repeat center/cover;
  }
  .grid__article--text {
    min-height: 0rem;
  }
  .grid__img, .grid picture {
    height: 100%;
  }
  .grid__p--text {
    margin: 3rem;
    text-align: left;
    font-size: 1.5rem;
  }
  .grid__p--textImg {
    margin: 3rem;
  }
  .grid__button {
    margin: 0 0 0 3rem;
  }
  .grid__title--text {
    font-size: 3rem;
    margin: 0 3rem;
    text-align: left;
  }
  .grid__title--textImg {
    margin: 50rem 0 0 0;
  }

  .gallery {
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  .gallery__img, .gallery picture {
    width: 25vw;
    height: 25vw;
  }

  .footer {
    height: 25rem;
  }
  .footer__box {
    width: 30rem;
  }
  .footer__links {
    width: 20rem;
  }
  .footer__logo {
    width: 15rem;
  }
}
@media screen and (min-width: 1140px) {
  .client {
    margin: 0;
    grid-template-rows: 15rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ctit ctit ctit" "b2 b3 b1";
  }
  .client__article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .client__article:nth-child(1) {
    grid-area: b1;
  }
  .client__article:nth-child(2) {
    grid-area: b2;
  }
  .client__article:nth-child(3) {
    grid-area: b3;
  }
  .client__title {
    grid-area: ctit;
    margin: 10rem auto;
  }
  .client__img {
    height: 8rem;
    margin: 3rem;
  }
  .client__name {
    margin: 3rem auto 0 auto;
  }
  .client__p {
    margin: 3rem auto 0 auto;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .client__function {
    margin: 1rem auto 10rem auto;
  }

  .gallery {
    height: 30rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 25vw);
  }
  .gallery__img, .gallery picture {
    height: 30rem;
  }
}
@media screen and (min-width: 1440px) {
  * {
    font-size: 100%;
  }

  .header__title {
    margin-bottom: 10rem;
    font-size: 6rem;
  }

  .grid__title--textImg {
    margin: 40rem 0 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
